<div class="section-container">
  <h2>experience</h2>
  {% for exp in experiences %}
    <div class="item exp-container">
      {% if exp.logo_url %}
        <a class="logo" href={{ exp.url }}><img src={{ exp.logo_url }} /></a>
      {% endif %}
      <div>
        <h4>{{ exp.role }}</h4>
        <h5>{{ exp.company }}</h5>
        {% if exp.end_date %}
          <p>{{ exp.start_date }} to {{ exp.end_date }}</p>
        {% else %}
          <p>{{ exp.start_date }} to Present</p>
        {% endif %}
        <p>{{ exp.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>
