<div class="section-container">
  <h1 class="title"><i>{{ title }}</i></h1>
  <h4><b><i>{{ major }}</i></b> student at <a class="link" href={{ school_url }}><b><i>{{ school }}</i></b></a></h4>
  <h4>specializing in <b><i>{{ specialization }}</i></b></h4>
  <h4>with a minor in <b><i>{{ minor }}</i></b></h4>

  <div class="contact-container">
    <span class="contact-header">contact</span>
    <a class="contact" href={{ github_url }}>github</a>
    <a class="contact" href={{ linkedin_url }}>linkedin</a>
    <a class="contact" href={{ email_url }}>email</a>
  </div>
</div>
